/* Import bbootstrap style */
@import "~bootstrap/scss/bootstrap";


$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
$main-white: #e1e5ea !default;
$main-black: #18151f !default;
$main-bg-dark: #110f16 !default;
$main-bg-ligth: #f3f5f7 !default;

.cursor {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.darkTheme,
.lightTheme {
  min-height: 100vh;
}

nav {
  min-height: 10vh;

  .navbar-nav {
    width: 100%;
  }

  .navbar-brand,
  .navbar-brand:hover {
    font-size: 1.8em;
    color: $main-yellow;
  }

  .navbar-toggler {
    background-color: $main-yellow;
  }

  .navbar-toggler-icon {
    color: $main-bg-dark;
  }

  .nav-link-font {
    font-size: 1.3em;
    position: relative;
    gap: 5px;
  }


  .nav-link-font:hover {
    color: $main-yellow;
  }

  .nav-link-font:hover::before {
    width: 100%;
  }

  svg {
    color: $main-yellow;
  }

  .active {
    .nav-link-font {
      color: $main-yellow;
    }

    .nav-link-font::before {
      width: 100%;
    }
  }
}

.nav-link-font::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  border-radius: 2px;
  height: 3px;
  width: 0%;
  background-color: $main-yellow;
  transition: width 1s ease;
}

.card {
  position: relative;
  background-image: linear-gradient(-30deg,
      $main-yellow-rgb-015,
      transparent 50%);
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border: 0;

  .card-title , svg {
    color: $main-yellow;
  }

  svg {
    position: absolute;
    bottom: 45px;
    right: 10px;
    font-size: 2em;
  }
}

.card:hover {
  z-index: 10;

  .card-img-top {
    filter: contrast(150%);
  }
}

.min-h-85 {
  min-height: 90vh;
}

.min-h-100 {
  min-height: 100vh;
}

.fixed {
  position: fixed;
}

.bg-login-register {
  background-color:hsla(58,46%,51%,1);
background-image:
radial-gradient(at 82% 83%, hsla(313,46%,51%,0.1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(108,17%,89%,1) 0px, transparent 50%),
radial-gradient(at 100% 90%, hsla(104,20%,96%,1) 0px, transparent 50%),
radial-gradient(at 98% 100%, hsla(153,19%,10%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(152,18%,7%,1) 0px, transparent 50%);
&.green {
  background-color: $main-green;
  background-image: 
  radial-gradient(at 82% 83%, hsla(313,46%,51%,0.1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(108,17%,89%,1) 0px, transparent 50%),
radial-gradient(at 100% 90%, rgba(244, 247, 243, 0.938) 0px, transparent 50%),
radial-gradient(at 98% 100%, hsla(153,19%,10%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(152,18%,7%,1) 0px, transparent 50%);
}
}
.bg-form-card {
  background-color: #110f16;
}

.form-input {
  color: $main-white;
}

.label-input {
  font-size: 1.3em;
  margin-left: 12px;
  color: $main-green;
  &.yellow {
    color: $main-yellow;
  }
}

.form-title {
  color: $main-white;
  font-size: 2em;
}
.form-control {
  background-color: $main-white;
  color: $main-black;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.form-button {
  background-color: $main-green;
  color: $main-black;
  border-color: transparent;
  &.yellow {
    background-color: $main-yellow;
  }
}

.form-button:hover {
  background-color: $main-yellow;
  color: $main-black;
  border-color: transparent;
  &.yellow {
    background-color: $main-green;
  }
}

.search-button {
  background-color: $main-yellow;
  color: $main-black;
  border-color: transparent;
}

.search-button:hover {
  background-color: $main-yellow;
  color: $main-black;
  border-color: transparent;
}

.search-button:disabled {
   background-color: $main-yellow;
  color: $main-black;
  border-color: transparent; 
  filter: opacity(1);
}

.search-group {
  width: 100%;
}

.page-title {
  color: $main-yellow;
}


.dark-theme {
  background: $main-bg-dark;

  .label {
    background-color: $main-white;
  }
  .ball {
    background-color: $main-black;
  }

  .card {
    background-color: #18151f;

    .card-text {
      color: $main-white;
    }
  }

  nav {
    background-color: $main-bg-dark;

    .nav-link {
      color: $main-white;
    }
  }

  .modal {
    background: $main-black;
    color: $main-white;
  }
}

.ligth-theme {
  background: $main-bg-ligth;

  .label {
    background-color: $main-black;
  }

  .ball {
    background-color: $main-white;
  }

  .card {
    background-color: #e1e5ea;

    .card-text {
      color: $main-black;
    }
  }

  nav {
    background-color: $main-bg-ligth;

    .nav-link {
      color: $main-black;
    }
  }
  .modal {
    background: $main-white;
    color: $main-black;
  }
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: $main-white;

  &.dark {
    background-color: #18151f;
  }

  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }

  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}

/* COLORS */
.postcard .postcard__tagbox .yellow.play:hover {
  background: $main-yellow;
  color: black;
}

.yellow .postcard__title:hover {
  color: $main-yellow;
}

.yellow .postcard__bar {
  background-color: $main-yellow;
}

.yellow::before {
  background-image: linear-gradient(-30deg,
      $main-yellow-rgb-015,
      transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg,
      $main-yellow-rgb-015,
      transparent 50%);
}

@media screen and (min-width: 769px) {

  .yellow::before {
    background-image: linear-gradient(-80deg,
        $main-yellow-rgb-015,
        transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg,
        $main-yellow-rgb-015,
        transparent 50%);
  }
}





@keyframes in-keyframes {
  0% {
    opacity: 0;
    translate: 0 100%;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-left-keyframes {
  0% {
    opacity: 0;
    translate: -50% 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.animate-in {
  animation-name: in-keyframes;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animate-left-in {
  animation-name: in-left-keyframes;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.nav-item {
  margin-right: 10px;
}

.label {
  width: 50px;
  height: 26px;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.3);
}

.ball {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox-checked{
  transform: translateX(24px);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 48px 40px;
  max-width: 300px;
  border-radius: 12px;
  translate: -50% -50%;
  opacity: 0;
  display: none;
  transition: 0.3s;
  max-height: 300px;
  svg {
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;

  }

  h2 {
    color: $main-yellow;
  }
}

body.open .modal {
  opacity: 1;
  display: block;
  animation: modal-in 1s;
}

body.closed .modal {
  opacity: 0;
  visibility: hidden;
  translate: -50% -50%;
}

@media screen and (min-width: 992px) {
    .form-input {
      width: 300px;
    }

    .form-title {
      font-size: 3.5em;
    }

    .form-button {
      font-size: 1.2em;
    }
    .search-group {
      width: 50%;
    }

    .page-title {
      font-size: 3em;
    } 
    .modal {
      max-height: 300px;
      max-width: 400px;
    }
}

@media screen and (min-width: 1400px) {
  .form-input {
    width: 400px;
  }

  .search-button {
    font-size: 1.2em;
  }

  .search-group {
    width: 50%;
  }

  .page-title {
    font-size: 3.5em;
  } 
}

@keyframes background-in {
  0% {
    scale: 0 0.005;
  }
  33% {
    scale: 1 0.005;
  }
  66%,
  100% {
    scale: 1 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

body.open .modal-background {
  visibility: visible;
  opacity: 1;
  animation: background-in 1s both;
}

@keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}